Connected Services/servicioImpresionGuia/ImpresionGuia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65333/ImpresionGuia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioImpresion" />
  <xs:element name="EstadoDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Correlativo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioImpresion" minOccurs="0" name="EstadoDocumentoResult" nillable="true" type="q1:RespuestaDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Existe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Local" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Local" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="columnas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioImpresion" minOccurs="0" name="ObtenerResult" nillable="true" type="q2:Guia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerByCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="columnas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerByCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioImpresion" minOccurs="0" name="ObtenerByCodigoResult" nillable="true" type="q3:Guia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTextoByCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="columnas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTextoByCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerTextoByCodigoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>