Connected Services/srvAustral/zws_conmigo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__ZWS_CONMIGO">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ZWS_CONMIGO_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZWS_CONMIGO">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>005056AF6FB91ED39AFE8025155E6AFB</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZAUMM_FUN_GET_DOCMAT">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char250">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="250" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="clnt3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZOSTB_DETMIGO">
        <xsd:sequence>
          <xsd:element name="MANDT" type="tns:clnt3" />
          <xsd:element name="MBLNR" type="tns:char10" />
          <xsd:element name="MJAHR" type="tns:numeric4" />
          <xsd:element name="ZEILE" type="tns:numeric4" />
          <xsd:element name="CODMAT" type="tns:char18" />
          <xsd:element name="DESMAT" type="tns:char250" />
          <xsd:element name="UNDMED" type="tns:unit3" />
          <xsd:element name="MENGE" type="tns:quantum13.3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZOSES_LOG_WEBSERV">
        <xsd:sequence>
          <xsd:element name="TIPO" type="tns:char1" />
          <xsd:element name="NROMSJ" type="tns:numeric3" />
          <xsd:element name="MENSAJE" type="tns:char220" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZOSTT_DETMIGO_WS">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZOSTB_DETMIGO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZOSTT_LOG_WEBSERV">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZOSES_LOG_WEBSERV" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZAUMM_FUN_GET_DOCMAT">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="I_DOCMAT" type="tns:char10" />
            <xsd:element name="I_PERMAT" type="tns:numeric4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZAUMM_FUN_GET_DOCMATResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="E_CODRET" type="xsd:int" />
            <xsd:element name="E_DETALLE" type="tns:ZOSTT_DETMIGO_WS" />
            <xsd:element name="E_LOG_WS" type="tns:ZOSTT_LOG_WEBSERV" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZAUMM_FUN_GET_DOCMAT">
    <wsdl:part name="parameters" element="tns:ZAUMM_FUN_GET_DOCMAT" />
  </wsdl:message>
  <wsdl:message name="ZAUMM_FUN_GET_DOCMATResponse">
    <wsdl:part name="parameter" element="tns:ZAUMM_FUN_GET_DOCMATResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_CONMIGO">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="https://wdsoa.austral.com.pe:44300/sap/bc/esdt/docu/sd_text?sap-client=400&amp;sd_name=ZWS_CONMIGO" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZWS_CONMIGO" />
    </wsp:Policy>
    <wsdl:operation name="ZAUMM_FUN_GET_DOCMAT">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZAUMM_FUN_GET_DOCMAT" />
      </wsp:Policy>
      <wsdl:input message="tns:ZAUMM_FUN_GET_DOCMAT" />
      <wsdl:output message="tns:ZAUMM_FUN_GET_DOCMATResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_CONMIGO" type="tns:ZWS_CONMIGO">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_CONMIGO" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZAUMM_FUN_GET_DOCMAT">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_CONMIGO:ZAUMM_FUN_GET_DOCMATRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_CONMIGO_soap12" type="tns:ZWS_CONMIGO">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_CONMIGO_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZAUMM_FUN_GET_DOCMAT">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_CONMIGO:ZAUMM_FUN_GET_DOCMATRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_CONMIGO">
    <wsdl:port name="ZWS_CONMIGO" binding="tns:ZWS_CONMIGO">
      <soap:address location="https://wdsoa.austral.com.pe:44300/sap/bc/srt/rfc/sap/zws_conmigo/400/zws_conmigo/zws_conmigo" />
    </wsdl:port>
    <wsdl:port name="ZWS_CONMIGO_soap12" binding="tns:ZWS_CONMIGO_soap12">
      <wsoap12:address location="https://wdsoa.austral.com.pe:44300/sap/bc/srt/rfc/sap/zws_conmigo/400/zws_conmigo/zws_conmigo" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>