Connected Services/srvAustral.v2/zws_matmigo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char250">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="250" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="clnt3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZOSES_LOG_WEBSERV">
        <xsd:sequence>
          <xsd:element name="TIPO" type="tns:char1" />
          <xsd:element name="NROMSJ" type="tns:numeric3" />
          <xsd:element name="MENSAJE" type="tns:char220" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZOSTB_DETMIGO">
        <xsd:sequence>
          <xsd:element name="MANDT" type="tns:clnt3" />
          <xsd:element name="MBLNR" type="tns:char10" />
          <xsd:element name="MJAHR" type="tns:numeric4" />
          <xsd:element name="ZEILE" type="tns:numeric4" />
          <xsd:element name="CODMAT" type="tns:char40" />
          <xsd:element name="DESMAT" type="tns:char250" />
          <xsd:element name="UNDMED" type="tns:unit3" />
          <xsd:element name="MENGE" type="tns:quantum13.3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZOSTT_LOG_WEBSERV">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZOSES_LOG_WEBSERV" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZOSTT_DETMIGO_WS">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZOSTB_DETMIGO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZAUMM_FUN_GET_DOCMAT">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="I_DOCMAT" type="tns:char10" />
            <xsd:element name="I_PERMAT" type="tns:numeric4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZAUMM_FUN_GET_DOCMATResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="E_CODRET" type="xsd:int" />
            <xsd:element name="E_DETALLE" type="tns:ZOSTT_DETMIGO_WS" />
            <xsd:element name="E_LOG_WS" type="tns:ZOSTT_LOG_WEBSERV" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZAUMM_FUN_GET_DOCMAT">
    <wsdl:part name="parameters" element="tns:ZAUMM_FUN_GET_DOCMAT" />
  </wsdl:message>
  <wsdl:message name="ZAUMM_FUN_GET_DOCMATResponse">
    <wsdl:part name="parameter" element="tns:ZAUMM_FUN_GET_DOCMATResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_MATMIGO">
    <wsdl:operation name="ZAUMM_FUN_GET_DOCMAT">
      <wsdl:input message="tns:ZAUMM_FUN_GET_DOCMAT" />
      <wsdl:output message="tns:ZAUMM_FUN_GET_DOCMATResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="binding" type="tns:ZWS_MATMIGO">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZAUMM_FUN_GET_DOCMAT">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_MATMIGO:ZAUMM_FUN_GET_DOCMATRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="binding" binding="tns:binding">
      <soap:address location="https://vhuupqs4ci.sap.austral.com.pe:44300/sap/bc/srt/scs/sap/zws_matmigo?sap-client=100" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>