Connected Services/servicioDocumento/Documento1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IDocumento_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://rpe-rdocument.com:8080/ServicioDocumentos/Documento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://rpe-rdocument.com:8080/ServicioDocumentos/Documento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://rpe-rdocument.com:8080/ServicioDocumentos/Documento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TwoTecnology.ServicioDocumentos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumento_EnvioDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:EnvioDocumento" />
  </wsdl:message>
  <wsdl:message name="IDocumento_EnvioDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnvioDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumento_EstadoDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:EstadoDocumento" />
  </wsdl:message>
  <wsdl:message name="IDocumento_EstadoDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EstadoDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumento_ObtenerPdf_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPdf" />
  </wsdl:message>
  <wsdl:message name="IDocumento_ObtenerPdf_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPdfResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumento_ObtenerXml_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerXml" />
  </wsdl:message>
  <wsdl:message name="IDocumento_ObtenerXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumento_ObtenerZip_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerZip" />
  </wsdl:message>
  <wsdl:message name="IDocumento_ObtenerZip_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerZipResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumento_IsObtenerImpresion_InputMessage">
    <wsdl:part name="parameters" element="tns:IsObtenerImpresion" />
  </wsdl:message>
  <wsdl:message name="IDocumento_IsObtenerImpresion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsObtenerImpresionResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumento_ObtenerImpresion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerImpresion" />
  </wsdl:message>
  <wsdl:message name="IDocumento_ObtenerImpresion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerImpresionResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumento_ObtenerImpresionByCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerImpresionByCodigo" />
  </wsdl:message>
  <wsdl:message name="IDocumento_ObtenerImpresionByCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerImpresionByCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumento_ActualizarImpresion_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarImpresion" />
  </wsdl:message>
  <wsdl:message name="IDocumento_ActualizarImpresion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarImpresionResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumento">
    <wsdl:operation name="EnvioDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumento/EnvioDocumento" message="tns:IDocumento_EnvioDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumento/EnvioDocumentoResponse" message="tns:IDocumento_EnvioDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EstadoDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumento/EstadoDocumento" message="tns:IDocumento_EstadoDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumento/EstadoDocumentoResponse" message="tns:IDocumento_EstadoDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPdf">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumento/ObtenerPdf" message="tns:IDocumento_ObtenerPdf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumento/ObtenerPdfResponse" message="tns:IDocumento_ObtenerPdf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumento/ObtenerXml" message="tns:IDocumento_ObtenerXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumento/ObtenerXmlResponse" message="tns:IDocumento_ObtenerXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerZip">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumento/ObtenerZip" message="tns:IDocumento_ObtenerZip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumento/ObtenerZipResponse" message="tns:IDocumento_ObtenerZip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsObtenerImpresion">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumento/IsObtenerImpresion" message="tns:IDocumento_IsObtenerImpresion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumento/IsObtenerImpresionResponse" message="tns:IDocumento_IsObtenerImpresion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerImpresion">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumento/ObtenerImpresion" message="tns:IDocumento_ObtenerImpresion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumento/ObtenerImpresionResponse" message="tns:IDocumento_ObtenerImpresion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerImpresionByCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumento/ObtenerImpresionByCodigo" message="tns:IDocumento_ObtenerImpresionByCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumento/ObtenerImpresionByCodigoResponse" message="tns:IDocumento_ObtenerImpresionByCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarImpresion">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumento/ActualizarImpresion" message="tns:IDocumento_ActualizarImpresion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumento/ActualizarImpresionResponse" message="tns:IDocumento_ActualizarImpresion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDocumento" type="tns:IDocumento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnvioDocumento">
      <soap:operation soapAction="http://tempuri.org/IDocumento/EnvioDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoDocumento">
      <soap:operation soapAction="http://tempuri.org/IDocumento/EstadoDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPdf">
      <soap:operation soapAction="http://tempuri.org/IDocumento/ObtenerPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerXml">
      <soap:operation soapAction="http://tempuri.org/IDocumento/ObtenerXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerZip">
      <soap:operation soapAction="http://tempuri.org/IDocumento/ObtenerZip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsObtenerImpresion">
      <soap:operation soapAction="http://tempuri.org/IDocumento/IsObtenerImpresion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerImpresion">
      <soap:operation soapAction="http://tempuri.org/IDocumento/ObtenerImpresion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerImpresionByCodigo">
      <soap:operation soapAction="http://tempuri.org/IDocumento/ObtenerImpresionByCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarImpresion">
      <soap:operation soapAction="http://tempuri.org/IDocumento/ActualizarImpresion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IDocumento" type="tns:IDocumento">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IDocumento_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnvioDocumento">
      <soap:operation soapAction="http://tempuri.org/IDocumento/EnvioDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoDocumento">
      <soap:operation soapAction="http://tempuri.org/IDocumento/EstadoDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPdf">
      <soap:operation soapAction="http://tempuri.org/IDocumento/ObtenerPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerXml">
      <soap:operation soapAction="http://tempuri.org/IDocumento/ObtenerXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerZip">
      <soap:operation soapAction="http://tempuri.org/IDocumento/ObtenerZip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsObtenerImpresion">
      <soap:operation soapAction="http://tempuri.org/IDocumento/IsObtenerImpresion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerImpresion">
      <soap:operation soapAction="http://tempuri.org/IDocumento/ObtenerImpresion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerImpresionByCodigo">
      <soap:operation soapAction="http://tempuri.org/IDocumento/ObtenerImpresionByCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarImpresion">
      <soap:operation soapAction="http://tempuri.org/IDocumento/ActualizarImpresion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>