Connected Services/servicioImpresionPrecuenta/ImpresionPrecuenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImpresionPrecuenta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65333/ImpresionPrecuenta.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65333/ImpresionPrecuenta.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65333/ImpresionPrecuenta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioImpresion" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentoPrecuenta_Existe_InputMessage">
    <wsdl:part name="parameters" element="tns:Existe" />
  </wsdl:message>
  <wsdl:message name="IDocumentoPrecuenta_Existe_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentoPrecuenta_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IDocumentoPrecuenta_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentoPrecuenta_ObtenerByCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerByCodigo" />
  </wsdl:message>
  <wsdl:message name="IDocumentoPrecuenta_ObtenerByCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerByCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentoPrecuenta_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IDocumentoPrecuenta_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentoPrecuenta">
    <wsdl:operation name="Existe">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentoPrecuenta/Existe" message="tns:IDocumentoPrecuenta_Existe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentoPrecuenta/ExisteResponse" message="tns:IDocumentoPrecuenta_Existe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentoPrecuenta/Obtener" message="tns:IDocumentoPrecuenta_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentoPrecuenta/ObtenerResponse" message="tns:IDocumentoPrecuenta_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerByCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentoPrecuenta/ObtenerByCodigo" message="tns:IDocumentoPrecuenta_ObtenerByCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentoPrecuenta/ObtenerByCodigoResponse" message="tns:IDocumentoPrecuenta_ObtenerByCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentoPrecuenta/Actualizar" message="tns:IDocumentoPrecuenta_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentoPrecuenta/ActualizarResponse" message="tns:IDocumentoPrecuenta_Actualizar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDocumentoPrecuenta" type="tns:IDocumentoPrecuenta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Existe">
      <soap:operation soapAction="http://tempuri.org/IDocumentoPrecuenta/Existe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IDocumentoPrecuenta/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerByCodigo">
      <soap:operation soapAction="http://tempuri.org/IDocumentoPrecuenta/ObtenerByCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IDocumentoPrecuenta/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImpresionPrecuenta">
    <wsdl:port name="BasicHttpBinding_IDocumentoPrecuenta" binding="tns:BasicHttpBinding_IDocumentoPrecuenta">
      <soap:address location="http://localhost:65333/ImpresionPrecuenta.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>